In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c470e9fbf14c3f9e0082e443a1d0bd5dad7ddc19e2b7c3281601f725375317a0
  Stored in directory: c:\users\gamerpc\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [26]:
import pandas as pd
pd.read_csv('data\\ornek_data.csv')

    Name  Age  Experience
0   Berk   23           5
1    Can   20           9
2  Ahmet   15           2

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [27]:
df_pyspark=spark.read.csv('data\\ornek_data.csv')

In [28]:
df_pyspark.show()

+-----+---+----------+
|  _c0|_c1|       _c2|
+-----+---+----------+
| Name|Age|Experience|
| Berk| 23|         5|
|  Can| 20|         9|
|Ahmet| 15|         2|
+-----+---+----------+

In [33]:
df_pyspark=spark.read.option('header','true').csv('data\\ornek_data.csv')
df_pyspark

DataFrame[Name: string, Age: string, Experience: string]

In [34]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Berk| 23|         5|
|  Can| 20|         9|
|Ahmet| 15|         2|
+-----+---+----------+

In [35]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.head(3)

[Row(Name='Berk', Age='23', Experience='5'),
 Row(Name='Can', Age='20', Experience='9'),
 Row(Name='Ahmet', Age='15', Experience='2')]

In [37]:
df_pyspark.printSchema() #just like info

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [38]:
df_pyspark=spark.read.option('header','true').csv('data\\ornek_data.csv',inferSchema=True)

In [39]:
df_pyspark.printSchema() #string values turns to integer

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [40]:
df_pyspark=spark.read.csv('data\\ornek_data.csv',header=True,inferSchema=True)

In [41]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [42]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Berk| 23|         5|
|  Can| 20|         9|
|Ahmet| 15|         2|
+-----+---+----------+

In [43]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [44]:
df_pyspark.head(3)

[Row(Name='Berk', Age=23, Experience=5),
 Row(Name='Can', Age=20, Experience=9),
 Row(Name='Ahmet', Age=15, Experience=2)]

In [45]:
df_pyspark.select('Name').show() ## Selecting a column

+-----+
| Name|
+-----+
| Berk|
|  Can|
|Ahmet|
+-----+

In [46]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
| Berk|         5|
|  Can|         9|
|Ahmet|         2|
+-----+----------+

In [48]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [49]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               Age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| null|19.333333333333332|5.333333333333333|
| stddev| null| 4.041451884327381|3.511884584284246|
|    min|Ahmet|                15|                2|
|    max|  Can|                23|                9|
+-------+-----+------------------+-----------------+